/* // no cart item available */
.emptyCart {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyCart > svg {
  font-size: 5vmax;
  color: tomato;
}
.emptyCart > p {
  font-size: 2vmax;
}
.emptyCart > a {
  background-color: rgb(51, 51, 51);
  color: white;
  text-decoration: none;
  padding: 1vmax 3vmax;
  font: 400 1vmax "Roboto";
  border: none;
  cursor: pointer;
}

/* cart item */
.cartPage {
  padding: 3.4vmax;
}
.cardHeader {
  background-color: tomato;
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 300 1vmax "Roboto";
}
.cardHeader > p {
  margin: 15px;
}
.cardHeader > p:last-child {
  text-align: end;
}

.cartContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}
.cartInput {
  display: flex;
  height: 8vmax;
  align-items: center;
}
.cartInput > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  padding: 0.5vmax;
}
.cartInput > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}
.cartInput > input {
  border: none;
  padding: 0.5vmax;
  width: 3vmax;
  text-align: center;
  outline: none;
  font: 400 1.5vmax "Roboto";
  color: rgba(0, 0, 0, 0.74);
}

.cartSubtotal {
  display: flex;
  padding: 0.5vmax;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.753);
  font: 300 1vmax cursive;
  box-sizing: border-box;
  align-items: center;
  height: 8vmax;
}

.cartGrossTotal {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}
.cartGrossTotalBox {
  border-top: 3px solid tomato;
  margin: 1vmax 4vmax;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  font: 300 1.1vmax "Roboto";
  padding: 2vmax 0;
}
.checkOutBTn {
  justify-content: flex-end;
  display: flex;
}
.checkOutBTn > button {
  background-color: tomato;
  padding: 0.8vmax 4vmax;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 1vmax 4vmax;
  width: 50%;
  font: 300 1vmax "Roboto";
}

@media screen and (max-width: 600px) {
  .cartPage {
    padding: 0;
    min-height: 60vh;
    margin-top: 90px;
  }
  .cardHeader {
    width: 100%;
    font: 300 1.7vmax "Roboto";
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cartContainer {
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cartInput {
    height: 20vmax;
  }
  .cartInput > button {
    padding: 1.5vmax;
  }
  .cartInput > input {
    padding: 1.5vmax;
    width: 4vmax;
    font: 400 1.8vmax "Roboto";
  }
  .cartSubtotal {
    padding: 1.5vmax;
    font: 300 2vmax "Roboto";
    height: 20vmax;
  }
  .cartGrossTotal {
    display: grid;
    grid-template-columns: 0fr 2fr;
  }
  .cartGrossTotalBox {
    padding: 2vmax;
    font: 300 2vmax "Roboto";
  }
  .checkOutBTn > button {
    padding: 2vmax 4vmax;
    font: 300 2vmax "Roboto";
    width: 100%;
  }
}
