.paymentContainer {
  display: grid;
  background-color: rgb(255, 255, 255);
  place-items: center;
  margin: 2vmax;
  height: 65vh;
}
.paymentForm {
  width: 22%;
  height: 100%;
}
.paymentForm > p {
  font: 400 2vmax "Roboto";
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  color: rgba(0, 0, 0, 0.753);
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 1vmax 0;
}

.paymentForm > div {
  display: flex;
  align-items: center;
  margin: 2vmax 0;
}

.paymentInput {
  outline: none;
  padding: 1.5vmax 4vmax;
  padding-right: 1vmax;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  width: 100%;
}

.paymentForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.paymentFormBtn {
  border: none;
  background-color: tomato;
  font: 300 1.2vmax "Roboto";
  width: 100%;
  padding: 1vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  color: white;
}

.paymentFormBtn:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .paymentForm {
    width: 90%;
  }
  .paymentForm > p {
    font: 400 8vw "Roboto";
    padding: 4vw 0;
    width: 60%;
  }
  .paymentForm > div {
    margin: 10vw 0;
  }
  .paymentInput {
    padding: 5vw 10vw;
  }
  .paymentForm > div > svg {
    font-size: 6vw;
  }
  .paymentFormBtn {
    font: 300 4vw "Roboto";
    padding: 5vwx;
  }
}
